<span>

    <body>
        <a class="btn-small branded" href="/portal">Login</a>
        <hr>
        <div id="notificationbar">
            <ul>This solution integrates <i><b>existing</b></i> Travel0, Property0 and Generic0 apps into the demo.okta
                private cloud and demo.okta builder.<br><br> It is provided 'as is'.<br><br>With the deprecation of
                portal.auth0.cloud on Feb 1st 23, no support will be provided for any migrated applications nor will feature enhancements be
                made to them.</ul>
            <hr>
            <ul>Head <a
                    href="https://docs.google.com/presentation/d/1I9N6y12W6TkCEiT347gZgTca3XaQgr8627hkk0TNAJ0/edit?usp=sharing"
                    target="_blank" rel="noopener"><b>here</b></a> for the documentation on what to expect from this
                solution and how it works</ul>
            <ul>If you'd like the code base for the apps, you can request the repos using the process documented <a
                    href="    https://oktawiki.atlassian.net/wiki/spaces/DemoEng/pages/2674134354/Source+Code"
                    target="_blank" rel="noopener"><b>here</b></a></ul>
            <ul>Head <a
                    href="https://docs.google.com/presentation/d/1I9N6y12W6TkCEiT347gZgTca3XaQgr8627hkk0TNAJ0/edit?usp=sharing"
                    target="_blank" rel="noopener"><b>here</b></a> for the documentation on what to expect from this
                solution and how it works</ul>
            <ul>If you'd like the code base for the apps, you can request the repos using the process documented <a
                    href="    https://oktawiki.atlassian.net/wiki/spaces/DemoEng/pages/2674134354/Source+Code"
                    target="_blank" rel="noopener"><b>here</b></a></ul>
            <ul>This project is an example of an implementation of the Okta Demo API with Node.js and uses the <a
                    href="https://nodequickstart.oktademo.app/" target="_blank" rel="noopener">demo.okta Node
                    Quickstart</a>
        </div>
        <hr>
</span>
</body>