<span>
    <a class="btn-small branded" href="/portal">Login</a>
    
    <p><b>Welcome</b></p>
    <ul>This solution is intended to support legacy usage of the portal.auth0.cloud apps Travel0 and Property0
    </ul>
    <ul>It provides a 1:1 mapping between the connected tenant and either an instance of Travel0 or Property0: your
        choice!</ul>
    <ul>It is supported by the Demo Community at Okta under a Best Efforts model</ul>
    <br>
    <ul>This project is an example of an implementation of the Okta Demo API in Node.js. This application supports
        dynamic configuration and lifecycle webhooks.</ul>
    <br>
    {{#if tenantSettings}}
    <div>
        <ul><b>{{demoName}} demo settings</b></ul>
        {{#each tenantSettings}}
        <b>{{@key}}</b> = {{this}}
        {{/each}}
    </div>

    {{else}}

    <div>

    </div>
    {{/if}}
</span>