<span>

    <body>
     <img src="/public/travel0.png" height="200">
     <br>
         <a class="btn-small branded" href="/portal">Login</a>
    <p><b>Welcome</b></p>
    <ul>This solution is intended to support legacy usage of the portal.auth0.cloud apps Travel0, Generic0 and Property0</ul>
    <ul>It provides a 1:1 mapping between the connected tenant and an <b>existing</b> instance of either Travel0, Generic0 and Property0</ul>
    <ul>Head <a href="https://docs.google.com/presentation/d/1I9N6y12W6TkCEiT347gZgTca3XaQgr8627hkk0TNAJ0/edit?usp=sharing" target="_blank" rel="noopener"><b>here</b></a> for the documentation on what to expect from this solution and how it works</ul>
    <ul>If you'd like the code base for the apps, you can request the repos using the process documented <a href="    https://oktawiki.atlassian.net/wiki/spaces/DemoEng/pages/2674134354/Source+Code" target="_blank" rel="noopener"><b>here</b></a></ul>
    <ul>This project is an example of an implementation of the Okta Demo API with Node.js and uses the <a href="https://nodequickstart.oktademo.app/" target="_blank" rel="noopener">demo.okta Node Quickstart</a> 
</span>
</body>