<div>
    <a class="btn-small branded" href="/logout">Logout</a>
</div>    
    
    <body>
        <form action="/migrate_config" method="POST">
            <p>From</p>
            <input type="text" name="from_domain" placeholder="Add the domain of the the tenant you want to migrate FROM" />
            <input type="text" name="from_client" placeholder="Add the client_id of the the tenant you want to migrate FROM" />
            <input type="text" name="from_secret" placeholder="Add the client_secret of the the tenant you want to migrate FROM" />
            <br>
            <p>To</p>
            <input type="text" name="to_domain" placeholder="Add the domain of the the tenant you want to migrate TO" />
            <input type="text" name="to_client" placeholder="Add the client_id of the the tenant you want to migrate TO" />
            <input type="text" name="to_secret" placeholder="Add the client_secret of the the tenant you want to migrate TO" />
            <br>
            <br>
            <input type="submit" value="Migrate!" />
        </form>
    </body>

    <br>
    <hr>

