<style>
    #notifications {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: rgba(232, 232, 232, 0.489);
        margin-top: 20px;
        display: none;
    }

    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .onoffswitch {
        position: relative;
        width: 90px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 20px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #343bc1;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

    .onoffswitch-switch {
        display: block;
        width: 18px;
        margin: 6px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 56px;
        border: 2px solid #999999;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
</style>

<div>
    <a class="btn-small branded" href="/logout">Logout</a>
</div>



<body>

    <br>
    <div class="row">
        <div class="column">
            <p><b>Welcome</b></p>
            <ul>This solution is intended to support legacy usage of the portal.auth0.cloud apps Travel0 and Property0
            </ul>
            <ul>It is supported by the Demo Community at Okta under a Best Efforts model</ul>

            <p><b>Your Demos</b></p>

            <ul id="list-container"></ul>

            <p><b>Your Tenant</b></p>

            <ul>
                <li>{{tenant}}</li>
            </ul>
            <br>

            <label for="demo_type">CIC Login Enabled</label>
            <div class="onoffswitch">

                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cic_login" tabindex="0">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>

            <br>
            <label for="demo_type">Azure AD SSO</label>

            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="azure_ad" tabindex="0">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>

        </div>

        <div class="column">
            <form action="/create_legacy_demo" id="create_demo" method="POST">
                <p><b>Create Legacy Demo</b></p>
                <label for="demo_type">Please select your demo app:</label>
                <select style="display: block;" name="demo_type" id="demo_type">
                    <option value="Travel0">Travel0</option>
                    <option value="Property0">Property0</option>
                </select>

                <br>
                <label for="demo">Demo Name</label>
                <input type="text" name="demo_name" id="demo_name" placeholder="Enter Your Demo Name" />

                <br>
                <br>
                <input class="btn-small branded" type="submit" value="Create Legacy Demo"
                    onclick="return confirm('Are you sure? By clicking Create, you understand that your CIC tenant will be completely overwritten with a new demo configuration'); " />

                <br>
                <br>
                <input class="btn-small branded" type="button" id="get_demos" value="Get Demos" />

                <br>
                <br>
                <input class="btn-small branded" type="button" id="get_tenants" value="Get Tenants" />

                <br>
                <br>
                <input class="btn-small branded" type="button" id="get_legacy_db_users" value="Legacy DB Users" />


                <br>
                <br>
                <input class="btn-small branded" type="button" id="get_logs" value="Logs" />

                <br>
                <br>
                <input class="btn-small branded" type="button" id="clear_demo" value="Clear Demo"
                    onclick="return confirm('Are you sure? By clicking Clear, you understand that this will clear all demo applications, meaning they will no longer exist. However, your CIC tenant will remain live and can be reusued'); " />

            </form>
            <pre id="notifications"></pre>
        </div>
    </div>
</body>



<script>

    function show_update() {
        var x = document.getElementById("notifications");
        x.style.display = "block";
    }

    function getPostPromise(url, type, data) {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: url,
                type: type,
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer {{accessToken}}',
                },
                data: data,
                success: resolve,
                error: reject
            });
        });
    }

    $(document).ready(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_demo'
        api_type = 'POST'
        api_data = JSON.stringify({ demo_name: 'test' })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            if (output.Demo != "No demo added yet") {

                for (let i = 0; i < output.Demo.applications.length; i++) {
                    list = document.createElement("LI");
                    list.setAttribute("href", "#");
                    list.innerHTML = output.Demo.applications[i];
                    document.getElementById('list-container').appendChild(list);

                }

                var azureADflag = output.Demo.raw.flags[0].enabled;
                var auth0Loginflag = output.Demo.raw.flags[1].enabled


                if (auth0Loginflag) {
                    document.getElementById("cic_login").checked = true;

                }

                else {
                    document.getElementById("cic_login").checked = false;
                }

                if (azureADflag) {
                    document.getElementById("azure_ad").checked = true;

                }

                else {
                    document.getElementById("azure_ad").checked = false;
                }

                window.localStorage.setItem('tenant_id', output.Demo.tenant_id);
                window.localStorage.setItem('demo_id', output.Demo.demo_id);
                window.localStorage.setItem('demo_name', output.Demo.raw.name);

            }

            else {

                window.localStorage.clear()
                list = document.createElement("LI");
                list.setAttribute("href", "#");
                list.innerHTML = output.Demo;
                document.getElementById('list-container').appendChild(list);

            }

        })
            .catch((err) => {

                list = document.createElement("LI");
                list.setAttribute("href", "#");
                list.innerHTML = err
                document.getElementById('list-container').appendChild(list);

            })

    });

    $("#get_demos").click(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_demo'
        api_type = 'POST'
        api_data = JSON.stringify({ demo_name: 'test' })



        getPostPromise(api_url, api_type, api_data).then((output) => {
            for (let i = 0; i < output.Demo.applications.length; i++) {
                list = document.createElement("LI");
                list.setAttribute("href", "#");
                list.innerHTML = output.Demo.applications[i];
                document.getElementById('list-container').appendChild(list);

            }

            var azureADflag = output.Demo.raw.flags[0].enabled;
            var auth0Loginflag = output.Demo.raw.flags[1].enabled


            if (auth0Loginflag) {
                document.getElementById("cic_login").checked = true;

            }

            else {
                document.getElementById("cic_login").checked = false;
            }

            if (azureADflag) {
                document.getElementById("azure_ad").checked = true;

            }

            else {
                document.getElementById("azure_ad").checked = false;
            }


            window.localStorage.setItem('tenant_id', output.Demo.tenant_id);
            window.localStorage.setItem('demo_id', output.Demo.demo_id);
            window.localStorage.setItem('demo_name', output.Demo.raw.name);

            $('#notifications').text(JSON.stringify(output, null, 2));
            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

    $("#get_tenants").click(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_tenants'
        api_type = 'POST'
        api_data = JSON.stringify({ demo_name: 'test' })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            $('#notifications').text(JSON.stringify(output, null, 2));


            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

    $("#get_logs").click(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_logs'
        api_type = 'POST'
        api_data = JSON.stringify({
            demo_name: window.localStorage.getItem('demo_name')
        })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            $('#notifications').text(JSON.stringify(output, null, 2));
            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

    $("#get_legacy_db_users").click(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_db_users'
        api_type = 'POST'
        api_data = JSON.stringify({
            demo_name: window.localStorage.getItem('demo_name')
        })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            $('#notifications').text(JSON.stringify(output, null, 2));
            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

    $("#clear_demo").click(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_tenants'
        api_type = 'POST'
        api_data = JSON.stringify({ clear: "true" })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            window.localStorage.clear()
            $('#notifications').text(JSON.stringify(output, null, 2));


            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

    $("#create_demo").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');
        var api_type = 'POST';
        var api_data = JSON.stringify({
            demo_name: document.getElementById("demo_name").value,
            demo_type: document.getElementById("demo_type").value,
        })

        getPostPromise(actionUrl, api_type, api_data).then((output) => {

            window.localStorage.clear()
            window.localStorage.setItem('tenant_id', output.demo_creation.results[0].tenantId);
            window.localStorage.setItem('demo_id', output.demo_creation.results[0]._id);
            window.localStorage.setItem('demo_name', output.demo_creation.results[0].name);

            $('#notifications').text(JSON.stringify(output.demo_creation, null, 2));
            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

</script>