<style>
    #notifications {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: rgba(232, 232, 232, 0.489);
        margin-top: 20px;
        display: none;
    }
</style>

<div>
    <a class="btn-small branded" href="/logout">Logout</a>
</div>
<hr>
<br>

<ul>This solution is intended to support legacy usage of the portal.auth0.cloud apps Travel0 and Property0</ul>
<ul>It is supported by the Demo Community at Okta</ul>

<body>

    <br>

    <p><b>Your Demos</b></p>

    <ul id="list-container"></ul>

    <p><b>Your Tenant</b></p>

    <ul>
        <li>{{tenant}}</li>
    </ul>
    <br>



    <form action="/create_legacy_demo" id="create_demo" method="POST">
        <p><b>Create Legacy Demo</b></p>
        <label for="demo_type">Please select your demo app:</label>
        <select style="display: block;" name="demo_type" id="demo_type">
            <option value="Travel0">Travel0</option>
            <option value="Property0">Property0</option>
        </select>

        <br>
        <label for="demo">Demo Name</label>
        <input type="text" name="demo_name" id="demo_name" placeholder="Enter Your Demo Name" />

        <br>
        <br>
        <input class="btn-small branded" type="submit" value="Create Legacy Demo" />

        <br>
        <br>
        <input class="btn-small branded" type="button" id="get_demos" value="Get Demos" />

        <br>
        <br>
        <input class="btn-small branded" type="button" id="get_tenants" value="Get Tenants" />

        <br>
        <br>
        <input class="btn-small branded" type="button" id="clear_demo" value="Clear Demo" />

    </form>


    <hr>
    <pre id="notifications"></pre>
</body>



<script>

    function show_update() {
        var x = document.getElementById("notifications");
        x.style.display = "block";
    }

    function getPostPromise(url, type, data) {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: url,
                type: type,
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer {{accessToken}}',
                },
                data: data,
                success: resolve,
                error: reject
            });
        });
    }

    $(document).ready(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_demo'
        api_type = 'POST'
        api_data = JSON.stringify({ demo_name: 'test' })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            if (output.Demo.constructor === Array) {

                for (let i = 0; i < output.Demo.length; i++) {
                    list = document.createElement("LI");
                    list.setAttribute("href", "#");
                    list.innerHTML = output.Demo[i];
                    document.getElementById('list-container').appendChild(list);

                }

            }

            else {

                list = document.createElement("LI");
                list.setAttribute("href", "#");
                list.innerHTML = output.Demo;
                document.getElementById('list-container').appendChild(list);

            }

        })
            .catch((err) => {

                list = document.createElement("LI");
                list.setAttribute("href", "#");
                list.innerHTML = err
                document.getElementById('list-container').appendChild(list);

            })

    });

    $("#get_demos").click(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_demo'
        api_type = 'POST'
        api_data = JSON.stringify({ demo_name: 'test' })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            $('#notifications').text(JSON.stringify(output, null, 2));
            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

    $("#get_tenants").click(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_tenants'
        api_type = 'POST'
        api_data = JSON.stringify({ demo_name: 'test' })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            $('#notifications').text(JSON.stringify(output, null, 2));


            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

    $("#clear_demo").click(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_tenants'
        api_type = 'POST'
        api_data = JSON.stringify({ clear: "true" })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            $('#notifications').text(JSON.stringify(output, null, 2));


            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

    $("#create_demo").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');
        var api_type = 'POST';
        var api_data = JSON.stringify({
            demo_name: document.getElementById("demo_name").value,
            demo_type: document.getElementById("demo_type").value,
        })

        getPostPromise(actionUrl, api_type, api_data).then((output) => {

            $('#notifications').text(JSON.stringify(output, null, 2));
            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

</script>