<style>
    #updated_note {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: rgba(232, 232, 232, 0.489);
        margin-top: 20px;
        display: none;
    }

    #link_account_button {
        display: none;
    }
</style>

<div>
    <a class="btn-small branded" href="/logout">Logout</a>
</div>
<hr>
<br>

<ul>This solution is intended to support legacy usage of the portal.auth0.cloud apps Travel0 and Property0</ul>
<ul>It is supported by the Demo Community at Okta</ul>

<body>

    <br>

    <form action="/create_legacy_demo" id="create_demo" method="POST">
        <p><b>Create Legacy Demo</b></p>
        <label for="demo_name">Demo Name</label>
        <input type="text" name="demo_name" id="demo_name" placeholder="Enter Your Demo Name"/>

        <input type="submit" value="Create Legacy Demo" />

        <br>
        <br>
        <input type="button" id="get_tenants" value="Get Tenants" />

    </form>


    <hr>
    <pre id="notifications"></pre>
</body>



<script>

    function show_update() {
        var x = document.getElementById("notifications");
        x.style.display = "block";
    }

    $(document).ready(function () {

        var y = document.getElementById("favorite_color");
        y.value = '{{user_meta}}'

        if ('{{sub}}'.includes("google")) {
            var x = document.getElementById("link_account_button");
            x.style.display = "block";
        }

    })

    function getPostPromise(url, type, data) {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: url,
                type: type,
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer {{accessToken}}',
                },
                data: data,
                success: resolve,
                error: reject
            });
        });
    }

    $("#get_tenants").click(function () {

        var api_url, api_type, api_data

        api_url = '/get_legacy_demo'
        api_type = 'POST'
        api_data = JSON.stringify({ demo_name: 'test' })

        getPostPromise(api_url, api_type, api_data).then((output) => {

            $('#notifications').text(JSON.stringify(output, null, 2));
            show_update()

        })
            .catch((err) => {
                $('#notifications').text(JSON.stringify(err, null, 2));
                show_update()
            })

    });

    $("#create_demo").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                $('#notifications').text(JSON.stringify(data, null, 2));
                show_update();
            },
            error: function (data) {
                $('#notifications').text(JSON.stringify(data, null, 2));
            }
        });

    });

        $("#profile_form").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                $('#updated_note').text(JSON.stringify(data, null, 2));
                show_update();
            },
            error: function (data) {
                $('#updated_note').text(JSON.stringify(data, null, 2));
            }
        });

    });

</script>